<div ng-include src="'partials/nav.html'"></div>

<!-- Part B About -->
<div class="container main">
	<h1>Squad Vehicles: Project 3 - Part B</h1>
	<hr>
	<h2>About Page</h2>
	
	<p>The following table describes the different concepts including multimedia concepts, that will be used and applied to this particular web page.</p>

	<table class="table table-striped table-bordered table-hover" style="text-align:center;">
	  <tr> 
	    <th>Concept</th>
	    <th>Possibility of being used for this web page</th>
	  </tr>
	  <tr> 
	    <td>Inline Images (png, jpg and gif)</td>
	    <td>Yes</td>
	  </tr>
	  <tr> 
	    <td>Video</td>
	    <td></td>
	  </tr>
	  <tr>
		  <td>text/css</td>
		  <td>Yes</td>
	  </tr>
		<tr>
	    <td>text/javasript</td>
	    <td>Yes</td>
	  </tr>
		<tr>
	    <td>Radio Buttons / Checkbox / Text Area / Menu</td>
	    <td></td>
	  </tr>
		<tr>
	    <td>HTML Form</td>
	    <td></td>
	  </tr>
		<tr>
	    <td>Hyperlinks to other pages</td>
	    <td>Yes</td>
	  </tr>
		<tr>
	    <td>Html Table</td>
	    <td></td>
	  </tr>
		<tr>
	    <td>jQuery</td>
	    <td>Yes</td>
	  </tr>
		<tr>
	    <td>Flash or Shockwave</td>
	    <td></td>
	  </tr>
		<tr>
	    <td>Java Applet</td>
	    <td></td>
	  </tr>
		<tr>
	    <td>Hyperlink to an image</td>
	    <td>Yes</td>
	  </tr>
		<tr>
	    <td>Text Formatting</td>
	    <td>Yes</td>
	  </tr>
		<tr>
	    <td>Php</td>
	    <td></td>
	  </tr>
		<tr>
	    <td>Text Breaks and Divisions (Horizontal Rule, Line Break, etc.)</td>
	    <td>Yes</td>
	  </tr>    
	</table>

</div>
