<div class="side-nav">
	<ul>
    <li style="font-size:24px;"><i class="fa fa-rocket"></i> Main Links</li>

    <li><a href="#/part-b">Part B Home</a></li>
	<li><a href="#/part-b/conceptual-design">Conceptual Design</li></a>
   	<li><a href="#/part-b/website-plan">Website Plan</a></li>
    <li><a href="#/part-b/link-structure">Link Structure</a></li>

    <li style="font-size:24px;"><i class="fa fa-link"></i> Page Links</li>

    <li><a href="#/part-b/index-concept">Index</a></li>
    <li><a href="#/part-b/about-concept">About</a></li>
    <li><a href="#/part-b/services-concept">Services</a></li>
    <li><a href="#/part-b/financing-concept">Financing Calculator</a></li>
    <li><a href="#/part-b/test-drive-concept">Test Drive Scheduler</a></li>
    <li><a href="#/part-b/gallery-concept">Car Photo Gallery</a></li>
    <li><a href="#/part-b/availability-concept">Car Availability</a></li>
    <li><a href="#/part-b/contact-concept">Contact</a></li>

	</ul>
</div>
