<div class="container">

<h1>Welcome to Squad Vehicles!</h1>
<p>Squad vehilces is an online seeeeeeeervice that helps enable to sales of used cars in Georgia. We facilitate and monitor the purchase and sales of used cars through our online services. WE help bring car buyer and car seller together making car buying, a painless experience.</p>
<h1>Description</h1>
	<p> Squad vehicles is a virtual car sales car business whose intent is to connect vehicle owners whishing to sell their cars with individuals searching for cheap, used vehicles to purchase</p>
		<br />
<h1>Goals</h1>
	<p>The goal of this business is to present an array of used vehilces posted online by car owners for anyone looking to purchase a used vehicle </p>
		<br />
<h1>Objectives</h1>
	<p>The main objective for this business is to provide an entirely virtual environment for automobiles to be purchased and sold. In order to do this, Squad Vehicles provides a way for car owners to sell their used cars and car shoppers to purchase these cars from the comfort of their own home without the hassle of going from dealership to dealership.</p>
		<br />
<h1>Services</h1>
	<ul>
		<li>users can post cars that are for sale</li>
		<li>Login and account management per user</li>
        <li>Vehicle ( for sale ) information presentation </li>
        <li>Vehicle searchablility and sortability</li>
	</ul>
    	<br />
<h1>Projected Community</h1>
<p>This website is intended for anyone searching for a vehicle to purchase, or looking to sell their used vehicle.</p>



<h1> Demographics </h1>

<ol>
	<li> Age </li>
		<h3> Buying/Selling cars </h3> 
		<ul>
			<li> 18-34 - 13% </li>
			<li> 35-49 - 24% </li>
			<li> 50 and older - 62% </li>
		</ul> <br/>
	<li> Sex </li>
		<h3> Buying/Selling cars </h3> 
		<ul>
			<li> Male - 54.3% </li>
			<li> Female - 45.7% </li>
		</ul> <br/>
	<li> Race </li>
		<h3> Buying/Selling cars </h3> 
		<ul>
			<li> White - 83.8% </li>
			<li> Black - 12.1% </li>
			<li> American Indian, Eskimo - 1.0% </li>
			<li> Black - 3.1% </li>
		</ul> <br/>
	<li> Area of living </li>
		<h3> Buying/Selling cars </h3> 
		<ul>
			<li> Urban - 87.6% </li>
			<li> Rural - 12.4% </li>
		</ul> <br/>
	<li> Education Level </li>
	<h3> Buying/Selling cars </h3> 
		<ul>
			<li> With Degree - 55% </li>
			<li> Without Degree - 45% </li>
		</ul> <br/>
	<li> Computer Literacy </li>
		<h3> Buying/Selling cars </h3> 
		 <ul>
		 	<li> Studys show that computer literacy and buying cars dont correlate. </li><br/>
		 </ul>
	<li> General </li>
		<h3> Cars sold </h3> 
		<ul>
			<li> 16.5 million new vehicles were sold in the last year. </li>
			<li> Of those, Ford's F-Series sold 754,000. Making it the #1 sold vehicle. </li>
			<li> Chevy's Silverado came in 2nd while Fiat Chrysler's Ram Truck came in 3rd. </li>
		</ul> <br/>
</ol>

</div>