
		<div class="container" style="text-align:center;">

			<div style="padding:80px 20px 20px 20px;"><img class="img-circle" src="img/profile.jpg" height="200px" width="200px"></div>

			<h1 style="color: #5f6468;">Sheehan Toufiq</h1>

			<ul style="list-style-type:none; margin-left:-40px;">
	      <li style="display:inline;">
	        <a class="no-hover" href="http://www.twitter.com/sheehantoufiq" title="Twitter" target="_blank">
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
	        </a>
	      </li>
	      <li style="display:inline;">
	        <a class="no-hover" href="https://github.com/sheehantoufiq" title="Github" target="_blank">
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
						</span>
	        </a>
	      </li>
	      <li style="display:inline;">
	        <a class="no-hover" href="https://www.linkedin.com/in/sheehantoufiq" title="LinkedIn" target="_blank">
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
						</span>
	        </a>
	      </li>
	      <li style="display:inline;">
	        <a class="no-hover" href="http://www.sheehantoufiq.com/resume.pdf" title="Resume" target="_blank">
						<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-file fa-stack-1x fa-inverse"></i>
						</span>
	        </a>
	      </li>
	    </ul>

	    <br>
			<p><a href="mailto:sheehantoufiq@gmail.com?subject=Hi!">sheehantoufiq@gmail.com</a></p>
			<p style="color: #777;">(770) 298-0891</p>

			<br>
			<hr>

			<h2><a href="#/part-a">Project 2 - Part A</a></h2>

			<hr>

			<h2><a href="#/part-b">Project 2 - Part B</a></h2>

			<hr>

			<h2><a href="#/part-c">Project 2 - Part C</a></h2>

			<hr>

			<h2><a href="prototype/airlift">Project 2 - Part D</a></h2>

			<br>

	</div>