<div class="side-nav">
	<ul>
        <li style="font-size:24px;"><i class="fa fa-rocket"></i> Main Links</li>

        <li><a href="#/part-b">Part B Home</a></li>
    	<li><a href="#/part-b/conceptual-design">Conceptual Design</li></a>
       	<li><a href="#/part-b/website-plan">Website Plan</a></li>
        <li><a href="#/part-b/link-structure">Link Structure</a></li>

        <li style="font-size:24px;"><i class="fa fa-link"></i> Page Links</li>

        <li><a href="#/part-b/index-concept">Index (Landing Page)</a></li>
        <li><a href="#/part-b/register-concept">Register</a></li>
        <li><a href="#/part-b/sign-in-concept">Sign In</a></li>
        <li><a href="#/part-b/dashboard-concept">Dashboard</a></li>
        <li><a href="#/part-b/account-concept">Account</a></li>
        <li><a href="#/part-b/add-storage-concept">Add Storage</a></li>
        <li><a href="#/part-b/retrieve-storage-concept">Retrieve Storage</a></li>
        <li><a href="#/part-b/schedule-delivery-concept">Schedule Delivery</a></li>
        <li><a href="#/part-b/billing-concept">Billing</a></li>
        <li><a href="#/part-b/confirmation-concept">Confirmation</a></li>
        <li><a href="#/part-b/in-transit-concept">In Transit</a></li>

    </ul>
</div>
