	<div class="container">
		<h1>Project 2 - Part A</h1>
		<hr>
		<h2>Airlift - Business/Startup</h2>

			<p>
				Airlift is an innovative personal storage solution that provides on demand storage solutions. A user uses the website to order high quality storage bins to their address, packs their items into the bins, and a driver will pick up the bins to store at a central, secure, climate controlled location. With Airlift, you never have visit a storage unit again.
			</p>

		<h2>Customers</h2>

		<p>Airlift will focus on 4 main customer segments.</p>
		<ul>
			<li>
				Out of state and International College Students: This segment face problems storing belongings when returning home after the semester ends. There are 5.1 million out of state and international college students in the United states. It is estimated that this customer segment spends $1.5 billion per year on self storage.
			</li>
			<li>
				Empty Nesters ages 60-85: This segment faces problems storing belongings when downsizing from large homes to smaller, quieter homes after children leave their home. There are at 1.1 million empty nesters aged 60-85 in the United States. It is estimated that this customer segment spends $800 million per year on self storage.
			</li>
			<li>
				Traveling Consultants: This segment faces problems storing belongings when traveling between cities to meet clients. There are roughly 718,000 traveling consultants in the United States. It is estimated that this customer segment spends $287.2 million per year on self storage.
			</li>
			<li>
				Active Military Personnel: This segment faces problems storing belongings when traveling between military bases for training. There are roughly 500,100 active military personnel in the United States. Active military personnel currently rent 1.5 million storage units domestically. It is estimated that this customer segment spends $135.5 million per year on self storage.
			</li>
		</ul>

		<p>
			Although the website will market towards these customer segments, usage of the site will be allowed by everyone.
		</p>

		<p>
			<b>Age:</b> There will be no age requirement for the user, however the must have a credit/debit card and an address when using specific features of the website.<br>

			<b>Sex:</b> There will be no requirements for the sex of a user.<br>

			<b>Education Levels:</b> There will be no requirements for education levels to be a user for the website.<br>

			<b>Computer Literacy:</b> The user must be able to access the internet from an operating system, and navigate to the webpage.<br>

			<b>Nationality:</b> There will be no requirements on a user's nationality, however the user must reside within the United States, and for some features must have an address within Metropolitan Atlanta.<br>

			<b>Other Requirements:</b> The user must have a credit/debit card and an address when using specific features of the website.
		</p>

		<h2>Customer Goals & Objectives</h2>

			<p>
				Every interaction for the website must be very simple. The customer should be able to signup, request a delivery, add items into a virtual bin, and request a pick. A customer must also be able to request a return delivery, update account settings, credit card information, and personal information.
			</p>

			<p>
				The website will have a sign up link once the user arrives. The user must click the sign up link, enter the user's details and it will sign a user in. Once signed in, the user will click a schedule delivery button, put in the appropriate information, then add credit card information and an address.
			</p>
			<hr>
			<p>© Copyright 2014 - Sheehan Toufiq</p>
	</div>