<div class="container">
	<h1>Airlift - Test Case Scenerios</h1>
	<hr>

	<h2>Test Members</h2>

	<table class="table table-striped table-bordered table-hover">
	  <tr>
	  	<th>Name</th>
	  	<th>Nationality</th>
	  	<th>School / Company</th>
	  	<th>General Website Familiarity</th>
	  	<th>Gender</th>
	  	<th>Age</th>
	  	<th>Computer Literacy</th>
	  </tr>
	  <tr>
	  	<td>Nafisa Ahmed</td>
	  	<td>United States</td>
	  	<td>Georgia State University</td>
	  	<td>High</td>
	  	<td>Female</td>
	  	<td>22</td>
	  	<td>Medium</td>
    </tr>
	  <tr>
	  	<td>Justin Patel</td>
	  	<td>India</td>
	  	<td>Georgia State University</td>
	  	<td>High</td>
	  	<td>Male</td>
	  	<td>21</td>
	  	<td>High</td>
	  </tr>
	</table>

	<h2>Background and Layout</h2>

	<p>
		A check was made to identify the user friendliness of the background color and its acceptability. Also, a synchronization between the background color and images on the website was checked. 
		<br>
		<strong>RESULT : 1> Background layout and images are acceptable.</strong>
	</p>

	<h2>Text</h2>
	<p>
		Readability of the textual information on a webpage was identified by questioning the users. Appropriate spacing between consecutive lines and text fonts was also considered while developing the website prototype.
		<br>
		<strong>RESULT : 1> Text layout is acceptable.</strong>
	</p> 

	<h2>Form</h2>
	<p>
		Landing page and register/beta is considered as 1 page. The landing page consists of 1 form for a zip entry, which will display a register page. Login consists of a form with email and password text input. A check was made to understand the ease of form filling by the user. The form contents in the register/beta page will involve addition of some contents. Form layout feedback was obtained from the users. 
		<br>
		<strong>
			RESULT : 1> Form contents clearly visible. Form labels correctly named with details may be preferred. 
		</strong>
	</p> 

	<h2>Links</h2>
	<p>
		Landing page and register/beta is considered as 1 page. The landing page consists of 1 form for a zip entry, which will display a register page. Login consists of a form with email and password text input. A check was made to understand the ease of form filling by the user. The form contents in the register/beta page will involve addition of some contents. Form layout feedback was obtained from the users. 
		<br>
		<strong>
			RESULT : 1> Links are clearly visible. No color change for visited links required. Links on bottom for FAQ, About, Terms, and Privacy do not work or the pages have not been built yet.
		</strong>
	</p>

	<h2>Browser Compatability</h2>
		<p>
			The website protoype was checked againt FireFox and Google Chrome. There was no testing against Internet Explorer. The browser displayed all the webpages accurately. The images and textual content was displayed as desired and with equal effectiveness. 
		<br>
		<strong>
			RESULT : 1> Website passed FireFox and Google Chrome browser testing. 
		</strong>
	</p> 
	<hr>
	<p>© Copyright 2014 - Sheehan Toufiq</p>

</div>